:root{
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

*{
    font-family: 'young serif', serif;
    /* padding: 0; */
    margin: 0;
}

body{
    font-family: 'oufit' sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);

}

main{
    width: 60%;
    min-width: 375px;
    background: var(--white);
    padding: 26px;
    border-radius: 16px;
    margin: 28px;
}

.hero-img{
    max-width: 100%; 
    border-radius: 12px;
    margin: auto;
    display: block;
    margin-bottom: 22px;
}

.title-color{
    color: hsl(14, 45%, 36%);
}
.preparation-ul{
    background: var(--rose-white);
    margin: auto;
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 12px;
    width: 90%;
    border-radius: 12px;
    line-height: 2;
}

.preparation-ul li{
    margin: 0 16px;
}

.preparation-ul li::marker{
    color: var(--dark-raspberry);
}

.preparation-text{
    color: var(--dark-raspberry);
}

/*  */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }